# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
ENV/
env/

# VS Code, PyCharm, etc.
.vscode/
.idea/

# Testing and packaging
*.egg
*.egg-info/
dist/
build/
*.log

.env
